
    .Subscribe-button{
        background-color: rgb(204, 0, 0);
        color:white;
        border: none;
        /* height: 35px;
        width: 150px; */
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 1s;
       padding-bottom: 15px;
       padding-top: 15px;
       padding-left: 25px;
       padding-right: 25px;
       vertical-align: top;
    }
     .Join-button{
        background-color: rgb(255, 255, 255);
        color:rgb(6, 95, 212);
        border:3px solid;
        border-color:rgb(6, 95, 212) ;
        /* height: 50px;
        width: 150px; */
        font-size: medium;
        cursor: pointer;
        margin-left: 8px;
        margin-right: 18px;
         padding-bottom: 10px;
       padding-top: 10px;
       padding-left: 35px;
       padding-right: 35px;
       vertical-align: top;
    }
     
      .twitter-button{
        background-color: rgb(0, 167, 250);
        color: white;
        height: 40px;
        width: 123px;
        border-radius: 25px;
        border: none;
        font-size: medium;
        cursor: pointer;
        transition:box-shadow 1s;
        padding-left: 35px;
        padding-right: 39px;
       vertical-align: top;
        
      }

        .Subscribe-button:hover{
            background-color: rgb(103, 4, 4);
    
        }
         .Subscribe-button:active{
            background-color: rgb(25, 213, 8);
        }
       .twitter-button:hover
       {
         box-shadow: 5px 10px 20px rgba(0,0,0, 0.5);
       }
       .twitter-button:active{
        background-color: darkmagenta;
        box-shadow: 5px 10px 20px black;
       }
       .Join-button:hover{
        background-color: rgb(6, 95, 212);
        color: white;
       }
