.sidebar{
    position:fixed;
    left:0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(231, 227, 227);
}

.home-icon{
    height:20px
}
.explore-icon{
    height:20px
}

.subscription{
    height:20px
}

.original{
    height:20px
}

.music{
    height:20px
}

.lib-icon{
    height:20px
}